<template>
  <div id="addProject">
    <h1>Add a new project</h1>
    <b-form @submit="onSubmit" @reset="onReset">
      <!-- Name -->
      <b-form-group
        id="name"
        label="Nom :"
        label-for="name"
        description="Le nom de l'application"
      >
        <b-form-input
          id="name"
          v-model="form.name"
          type="text"
          required
          placeholder="Entrer le nom de l'application"
        ></b-form-input>
      </b-form-group>

      <!-- Technicalname -->
      <b-form-group
        id="technicalname"
        label="Nom technique :"
        label-for="technicalname"
        description="Le nom technique de l'application"
      >
        <b-form-input
          id="technicalname"
          v-model="form.technicalName"
          type="text"
          placeholder="Entrer le nom technique de l'application"
          readonly
        ></b-form-input>
      </b-form-group>

      <!-- Description -->
      <b-form-group
        id="description"
        label="Description :"
        label-for="description"
        description="Une description brève de l'application"
      >
        <b-form-textarea
          id="description"
          v-model="form.description"
          placeholder="Entrer le nom technique de l'application"
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-form-group>

      <!-- Database -->
      <b-form-group
        id="database"
        label="Database :"
        label-for="database"
        description="La ou les bases de données de l'application"
      >
        <b-form-select
          v-model="form.database"
          :options="form.database_options"
          multiple
          :select-size="3"
        >
        </b-form-select>
      </b-form-group>

      <!-- Language -->
      <b-form-group
        id="language"
        label="Langage :"
        label-for="language"
        description="Langage utilisé"
      >
        <b-form-select
          v-model="form.language"
          :options="form.language_options"
          multiple
          :select-size="4"
        >
        </b-form-select>
      </b-form-group>

      <!-- ORN ODM -->
      <b-form-group
        id="orm"
        label="ORM :"
        label-for="rom"
        description="L'ORM ou ODM utilisé"
      >
        <b-form-select
          v-model="form.orm"
          :options="form.orm_options"
          multiple
          :select-size="4"
        >
        </b-form-select>
      </b-form-group>

      <!-- Source control management -->
      <b-form-group
        id="sourceControlManagement"
        label="Source Control Management :"
        label-for="sourceControlManagement"
        description="Source Control Management utilisé"
      >
        <b-form-select
          v-model="form.sourceControlManagement"
          :options="form.sourceControlManagement_options"
          multiple
          :select-size="2"
        >
        </b-form-select>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        name: null,
        technicalName: null,
        description: null,
        database: [],
        database_options: [
          { value: "mysql", text: "MySQL" },
          { value: "postgresql", text: "PostGreSQL" },
          { value: "mongodb", text: "MongoDB" },
        ],
        orm: [],
        orm_options: [
          { value: "activerecord", text: "ActiveRecord" },
          { value: "doctrine", text: "Doctrine" },
          { value: "mongoose", text: "Mongoose" },
          { value: "hibernate", text: "Hibernate" },
        ],
        language: [],
        language_options: [
          { value: "java", text: "Java" },
          { value: "ruby", text: "Ruby" },
          { value: "php", text: "PHP" },
          { value: "nodejs", text: "NodeJS" },
        ],
        sourceControlManagement: [],
        sourceControlManagement_options: [
          { value: "git", text: "Git" },
          { value: "snv", text: "SVN" },
        ],
        status: "created",
        active: false,
      },
    };
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();
      axios
        .post("http://localhost:3000/api/projects", this.form)
        .then((response) => {
          this.projects = response.data.projects;
          console.log(response.data.projects);
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
    onReset(e) {
      e.preventDefault();
      this.form.name = "";
      this.form.technicalName = "";
      this.form.description = "";
      this.form.database = "";
      this.form.orm = "";
      this.form.language = "";
      this.form.sourceControlManagement = "";
    },
  },
};
</script>
