<template>
  <div id="projectsList">
    <h1>My project's list</h1>
    <section v-if="errored">
      <p>
        Nous sommes désolés, nous ne sommes pas en mesure de récupérer ces
        informations pour le moment. Veuillez réessayer ultérieurement.
      </p>
    </section>

    <section v-else>
      <div v-if="loading">Chargement...</div>

      <div
        b-container
        class="container"
        v-else
        v-for="project in projects"
        v-bind:key="project.id"
      >
        <b-card no-body class="overflow-hidden" style="max-width: auto;">
          <b-row no-gutters>
            <b-col md="6">
              <b-card-img
                src="https://picsum.photos/400/400/?image=20"
                alt="Image"
                class="rounded-0"
                style="opacity:0.5"
              ></b-card-img>
            </b-col>
            <b-col md="6">
              <b-card-body :title="project.name">
                <b-card-text>
                  <div role="tablist">
                    <b-card no-body class="mb-1">
                      <b-card-header header-tag="header" class="p-1" role="tab">
                        <b-button block v-b-toggle.accordion-{{project.name}} variant="info">
                          <b-icon icon="card-heading" aria-hidden="true">
                          </b-icon>
                          Statut</b-button
                        >
                      </b-card-header>
                      <b-collapse
                        :id="accordion-project.name"
                        accordion="my-accordion"
                        role="tabpanel"
                      >
                        <b-card-body>
                          <b-card-text>
                            {{
                              project.active ? "Actif" : "Non actif"
                            }}</b-card-text
                          >
                        </b-card-body>
                      </b-collapse>
                    </b-card>

                    <b-card no-body class="mb-1">
                      <b-card-header header-tag="header" class="p-1" role="tab">
                        <b-button block v-b-toggle.accordion-2 variant="info">
                          <b-icon icon="table" aria-hidden="true"> </b-icon>
                          Database</b-button
                        >
                      </b-card-header>
                      <b-collapse
                        id="accordion-2"
                        accordion="my-accordion"
                        role="tabpanel"
                      >
                        <b-card-body>
                          <b-card-text v-for="database in project.database" v-bind:key="database">{{ database }}</b-card-text>
                        </b-card-body>
                      </b-collapse>
                    </b-card>

                    <b-card no-body class="mb-1">
                      <b-card-header header-tag="header" class="p-1" role="tab">
                        <b-button block v-b-toggle.accordion-3 variant="info">
                          <b-icon icon="globe" aria-hidden="true"> </b-icon>
                          Language
                        </b-button>
                      </b-card-header>
                      <b-collapse
                        id="accordion-3"
                        accordion="my-accordion"
                        role="tabpanel"
                      >
                        <b-card-body>
                          <b-card-text v-for="language in project.language" v-bind:key="language">{{ language }}</b-card-text>
                        </b-card-body>
                      </b-collapse>
                    </b-card>

                    <b-card no-body class="mb-1">
                      <b-card-header header-tag="header" class="p-1" role="tab">
                        <b-button block v-b-toggle.accordion-4 variant="info">
                          <b-icon icon="cloud-upload" aria-hidden="true">
                          </b-icon>
                          Source Control management</b-button
                        >
                      </b-card-header>
                      <b-collapse
                        id="accordion-4"
                        accordion="my-accordion"
                        role="tabpanel"
                      >
                        <b-card-body>
                          <b-card-text v-for="sourceControlManagement in project.sourceControlManagement" v-bind:key="sourceControlManagement">
                            {{ sourceControlManagement }}
                          </b-card-text>
                        </b-card-body>
                      </b-collapse>
                    </b-card>
                  </div>
                </b-card-text>
              </b-card-body>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Project",
  data: function() {
    return {
      projects: null,
      loading: true,
      errored: false,
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/api/projects")
      .then((response) => {
        this.projects = response.data.projects;
        console.log(response.data.projects);
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));
  },
};
</script>
