<template>
  <div id="login" b-container class="container">
    <b-form @submit="auth">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="email"
          v-model="login.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

   <b-form @submit.stop.prevent>
    <label for="text-password">Password</label>
    <b-input 
    type="password" 
    id="text-password"
    v-model="login.password"
    aria-describedby="password-help-block"
    >
    </b-input>
    <b-form-text id="password-help-block">
      Your password must be 8-20 characters long, contain letters and numbers, and must not
      contain spaces, special characters, or emoji.
    </b-form-text>
   </b-form>
      <b-button type="submit" variant="primary" >Submit</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      login: {
        email: "test@test.fr",
        password: "test",
      },
    };
  },
  methods: {
    auth() {
      if (this.login.email != "" && this.login.password != "") {
        this.$emit("authenticated", true);
        this.$router.replace({ name: "dashboard" });
      }
    },
  },
};
</script>

