<template>
  <div id="app">
    <Dashboard v-if="user" />
    <router-link
      v-if="authenticated"
      to="/login"
      v-on:click.native="logout()"
      replace
      >Logout
      </router-link>
    <router-view @authenticated="setAuthenticated" />
  </div>
</template>

<script>

export default {
  name: "App",
  data() {
    return {
      user: null,
      authenticated: false,
      to: ''
    };
  },
  mounted() {
    if(!this.authenticated) {
      this.$router.replace({name: "login"});
    }
  },
  methods: {
    setAuthenticated(status) {
      this.authenticated = status;
    },
    logout() {
      this.authenticated = false;
    }
  }

};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  .md-button.md-theme-default.md-raised:not([disabled]).md-primary {
    background: #193a3a !important;
  }

  .md-theme-default a:not(.md-button) {
    color: #3fa9b3;
  }
}
</style>
